
<ion-header>

  <ion-navbar>
    <ion-title>
      <label>   {{ roomName }} - </label>
      <label class="entryCodeLabel"> {{ entryCode }} </label>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="body">

  <ion-list no-lines>
    <ion-item ion-item *ngFor="let item of usersModel" class="cardBody" >
      <ion-avatar item-start>
        <img [src]="item.imageUrl">
      </ion-avatar>
      <h2> {{ item.displayName }}</h2>
      <p>{{ item.level }}</p>
    </ion-item>
  </ion-list> 

  <button ion-button (click)="startGame()" *ngIf="isOwner" class="myButton" >Start !</button>

  
</ion-content>
