page-lobby {
    

.entryCodeLabel {
	color: orangered;
	font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;	
}

.cardBody {
	//background: white;
	background-color: rgba(300,2300,1155, 0.8);
	border-radius: 30px;
	margin-bottom: 5px;
}





}
