
bower_components/momentjs/min/moment.min.js
bower_components/momentjs/min/locales.min.js
bower_components/humanize-duration/humanize-duration.js

<ion-content class="homeBody">



<!--<ion-grid>
  <ion-row>
      <button ion-button class="newRoomButton">
        New Room
      </button>

      <button ion-button class="newRoomButton">
        Join Room
      </button>
  </ion-row>
</ion-grid>
-->


<img src="assets/home.png" class="photoHome"/>

<div [ngSwitch]="operation" ngClass="middle-vertical">

  


    <ion-segment [(ngModel)]="operation" class="operationItem" color="light">
        <ion-segment-button value="openRoom" (click)="openRoom()" class="buttonHoverAnimation" >
           <!-- <ion-icon name="create"></ion-icon> -->
           <label >New Room</label>
        </ion-segment-button>
        <ion-segment-button value="joinRoom" (click)="joinRoom()" class="buttonHoverAnimation" >
          <!-- <ion-icon name="person-add"></ion-icon> -->
          <label >Join Room</label>
        </ion-segment-button>
      </ion-segment>

      <label class="loginWelcomeText">Welcome</label>

  <ion-grid *ngSwitchCase="'openRoom'" style="width: 80%">

    <ion-row  no-lines>
        <ion-icon name="person" class="loginIcon"></ion-icon>
        <ion-input [disabled]="currentUser.isAuthenticated" type="text" value="" class="loginInput" placeholder="Username" [(ngModel)]="currentUser.displayName"></ion-input>
    </ion-row>

    <ion-row >
          <ion-icon name="create" class="loginIcon"></ion-icon>
          <ion-input type="text" value="" placeholder="Room Name" [(ngModel)]="roomName" class="loginInput" ></ion-input>
    </ion-row> 
  </ion-grid>

  <ion-grid *ngSwitchCase="'joinRoom'" style="width: 80%">

    <ion-row  no-lines >
        <ion-icon name="person" class="loginIcon"></ion-icon>
        <ion-input [disabled]="currentUser.isAuthenticated" type="text" value="" class="loginInput" placeholder="Username" [(ngModel)]="currentUser.displayName"></ion-input>
    </ion-row>

    <ion-row >
      <ion-icon name="lock" class="loginIcon"></ion-icon>
      <ion-input type="text" value="" [(ngModel)]="roomEntryCode" class="loginInput" placeholder="Entry Code" ></ion-input>
    </ion-row> 
  </ion-grid>





  <button ion-button   icon-start class="goButton" (click)="submitRoom()">
       Play 
  </button>
  <!--<button ion-button color="dark" round icon-start class="goButton" (click)="signInWithFacebook()" *ngIf="!currentUser.isAuthenticated">
       Sign with FaceBook 
  </button>
  <button ion-button color="dark" round icon-start class="goButton" (click)="signOut()" *ngIf="currentUser.isAuthenticated">
       Logout 
  </button>-->
  <ion-grid class="loginBottomNav" style="text-align: center">
    <label  (click)="about()" >
        ABOUT 
    </label>
    <label style="color: rgb(21, 29, 51); font-size: 15px; margin-left: 5px; margin-right: 5px;">|</label>
    <label    >
      SETTINGS
    </label>
    <br>
    <label  (click)="adminPanel()" *ngIf="isDebug" >
        ADMIN 
    </label>
  </ion-grid>

 <ion-item ion-item no-lines ngClass="profileCard" *ngIf="isUserAuthorized">
      <ion-avatar item-start >
        <img [src]="photoUrl" ngClass="photo">
      </ion-avatar>
      <h2 > Hello {{ displayName }}</h2>
      <p>Ugh. As if.</p>
    </ion-item>
</div>


</ion-content>


