
bower_components/momentjs/min/moment.min.js
bower_components/momentjs/min/locales.min.js
bower_components/humanize-duration/humanize-duration.js

<ion-content class="body">

<div>
  <ion-segment [(ngModel)]="operation" class="operationItem">
    <ion-segment-button value="openRoom" (click)="openRoom()" >
      Open Room
    </ion-segment-button>
    <ion-segment-button value="joinRoom" (click)="joinRoom()" >
      Join Room
    </ion-segment-button>
  </ion-segment>
</div>

<!--<ion-grid>
  <ion-row>
      <button ion-button class="newRoomButton">
        New Room
      </button>

      <button ion-button class="newRoomButton">
        Join Room
      </button>
  </ion-row>
</ion-grid>
-->


<div [ngSwitch]="operation" ngClass="middle-vertical">
  <ion-grid *ngSwitchCase="'openRoom'"   >

    <ion-row  no-lines>
      <ion-col col-4>
      <ion-label ngClass="label"  fixed >Username</ion-label>
      </ion-col>
      <ion-col >
      <ion-input [disabled]="currentUser.isAuthenticated" type="text" value="" class="text-foreground"  [(ngModel)]="currentUser.displayName"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col col-4>
      <ion-label class="label" fixed   >Room Name</ion-label>
      </ion-col>
      <ion-col >
      <ion-input type="text" value="" [(ngModel)]="roomName" class="text-foreground" ></ion-input>
      </ion-col>
    </ion-row> 
  </ion-grid>

  <ion-grid *ngSwitchCase="'joinRoom'"   >

    <ion-row  no-lines>
      <ion-col col-4>
      <ion-label ngClass="label"  fixed >Username</ion-label>
      </ion-col>
      <ion-col >
      <ion-input [disabled]="currentUser.isAuthenticated" type="text" value="" class="text-foreground"  [(ngModel)]="currentUser.displayName"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col col-4>
      <ion-label class="label" fixed   >Room Name</ion-label>
      </ion-col>
      <ion-col >
      <ion-input type="text" value="" [(ngModel)]="roomEntryCode" class="text-foreground" ></ion-input>
      </ion-col>
    </ion-row> 
  </ion-grid>





  <button ion-button color="dark" round icon-start class="goButton" (click)="submitRoom()">
       Play 
  </button>
  <!--<button ion-button color="dark" round icon-start class="goButton" (click)="signInWithFacebook()" *ngIf="!currentUser.isAuthenticated">
       Sign with FaceBook 
  </button>
  <button ion-button color="dark" round icon-start class="goButton" (click)="signOut()" *ngIf="currentUser.isAuthenticated">
       Logout 
  </button>-->
  <button ion-button color="dark" round icon-start class="goButton" (click)="about()">
       About 
  </button>
  <button ion-button color="dark" round icon-start class="goButton" (click)="adminPanel()" *ngIf="isDebug">
       Admin 
  </button>

 <ion-item ion-item no-lines ngClass="profileCard" *ngIf="isUserAuthorized">
      <ion-avatar item-start >
        <img [src]="photoUrl" ngClass="photo">
      </ion-avatar>
      <h2 > Hello {{ displayName }}</h2>
      <p>Ugh. As if.</p>
    </ion-item>
</div>


</ion-content>


