page-home {
    
        .operationItem {
            background-color: transparent;
            height: 20px;
            width: 75%;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 30px;
        };
    
        .homeBody {
            background-image: url("../assets/appBackground.PNG"); 
            background-size:cover;
            vertical-align: middle;
        };
    
        .segmentButton {
            background: black;
        }
    
        .segmentClass {
          
            height: 100px;
        }
    
        .details {
           vertical-align: middle;
    
    
    
        };
    
        
        .profileCard {
            position: absolute;
            margin:0 auto;
            left: 68%;
            transform: translateY(90%) translateX(-50%);
    
        }
    
        .photo {
            width: 15rem;
            margin-top: 10px;
            display: block;
            margin: auto;
            box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
            border: 3px solid black;
            border-radius: 3px;
            border-radius: 50%;
            position: relative;
        };
    
        .title {
            text-align: center;
            color: white;
            background: black;
        };
        
       
        
        .optionGrird {
            margin-left: auto;
            margin-right: auto;
        }
    
        .item {
            background: transparent;
        };
    
        .label {
            font-size: 18px;
            color: black;
            font-weight: bold;
        };
    
        .newRoomButton {
            margin-top: 20px;
            height: 70px;
            color: black;
            background-color: rgba(300,2300,1155, 0.8);
            border-radius: 160px;
        }
    
        .listClass
        {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 0px;
        }
    
        .loginIcon {
            font-size: 25px;
            height: 43px;
            background: white;
            color: gray;
            padding: 9px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .photoHome {
            opacity: 0.5;
            height: 30rem;
            margin-top: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
            
            
            position: relative;
        }
    
        .loginInput {
            color: black;
            //background-color: rgba(300,2300,1155, 0.6);
            background-color: white;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            margin-bottom: 5px;
        };
    
        .goButton {
            margin-bottom: 4px;
            display:block;
            width: 79%;
            background: rgba(11, 71, 58, 0.911);
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            height: 45px;
        };
    
        .loginBottomNav {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            width: 100%;
            font-size: 10px;
            color: white;
            display: block;
            margin-top: 5px;
        }
    
        .loginWelcomeText {
            width: 75%;
            color: rgba(2,2, 2, 0.911);
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    
        .middle-vertical {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            
        }
    
        
    .segmentButtonClass {
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
        background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
        background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
        background-color:#ededed;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #dcdcdc; // the button stroke
        display:block;
        cursor:pointer;
        color:#777777;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
        margin-left: 10px;
        margin-top: 10%;
    }
    .segmentButtonClass:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
        background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
        background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
        background-color:#dfdfdf;
    }
    .segmentButtonClass:active {
        position:relative;
        top:1px;
    }
    
        
    }
    