page-guess {
    .card-background-page {
        background:  black;

    ion-card {
        position: relative;
        text-align: center;
         
    }

    .card-title {
        position: absolute;
        top: 60%;
        font-size: 2.0em;
        width: 120%;
        font-weight: bold;
        color: #fff;
        
    }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }

    }

    .cardsize {
        height: 140px;
        background: url("../assets/categoriesBackground.png"); 
    }

    .imgSize {
        position: absolute;
        height: 120px;
        width: 140px;
        top: 16%;
    }
}
