<!--
  Generated template for the EndGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header ngClass="pageTitle">

  <ion-navbar  hideBackButton >


    <ion-title  >Pick the spy!</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding class="bodyCategoryEmpty">
   <ion-list *ngIf="!isTheSpy">
    <ion-item ion-item *ngFor="let item of usersModel" (click)="selectUser(item)" class="cardBody">
      <ion-avatar item-start>
        <img [src]="item.imageUrl">
      </ion-avatar>
      <h2> {{ item.displayName }}</h2>
      <ion-avatar item-end>
        <img item-end src="assets/spy.png">
      </ion-avatar>
      
    </ion-item>
  </ion-list> 

  <!--<button *ngIf="spyReadyToVote" ion-button class="myButton" >vote</button>-->


</ion-content>
