page-game {
    .photoGame {
        width: 25rem;
        height: 30rem;
        margin-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
        border: 3px solid black;
        border-radius: 3px;
        position: relative;
    }

    .cardback {
        	background-color: rgba(300,2300,1155, 0.3);

    }

    .iconTimer {
        font-size:30px;
        margin-top: 120px;
        color: white;
    }

    .timerItem {
        background: transparent;
    }

    .goButton {
        margin:0 auto;
        margin-bottom: 4px;
        display:block;
        width: 170px;
    };
    

    .timer {
        color: white;
        margin-top: 35px;
        font-size: 22px;
        width: 25rem;
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }

    .timerRed {
        color: red;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-top: 35px;
        font-size: 30px;
        width: 25rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
