page-choose-category {
    .list {
        background: transparent
    };

    .imgItem {
        background: white;
        border-radius: 30px;
    }

    .description {
        color: white
    }


}
