page-choose-category {
    .list {
        background: transparent
    };

    .imgItem {
        background: white;
        border-radius: 30px;
    }

    .description {
        color: white
    }

    

    .title {
        color: rgb(150, 2, 30);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    }


}
